---
permalink: /about.html
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Pause — #1 Leave Management Software for Startups</title>
    <meta name="description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta name="keywords" content="leave management software,absence management,absence management software,leave tracker,vacation tracker,absence planner,hybrid work,remote work,HR software for startups,remote work tools">

    <link rel="icon" href="/assets/images/pause-logo.png"/>
    <link rel="stylesheet" href="/assets/css/main.out.css"/>

    <!-- Open Graph/Facebook -->
    <meta property="og:title" content="About Pause — #1 Leave Management Software for Startups">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta property="og:image" content="/assets/images/pause-social-card.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="About Pause — #1 Leave Management Software for Startups">
    <meta name="twitter:description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta name="twitter:image" content="/assets/images/pause-social-card.png">
</head>
<body class="min-h-screen flex flex-col justify-start">
{% include 'header.liquid' %}

<div class="w-full mx-auto mt-26 pt-24 text-primary-700 flex-grow">
    <h1 class="w-full md:max-w-5xl mx-auto px-8 text-center text-5xl font-bold font-concourse-t6">Pro-recharging, anti-burnout</h1>

    <div class="w-full md:max-w-5xl mx-auto px-8 pt-12 flex flex-col justify-start items-stretch space-y-16 text-justify text-xl font-concourse-t3">
        <div class="max-w-2xl mx-auto space-y-4">
            <img
                src="/assets/images/about/01.avif"
                alt="One person relaxing and the other running around with tasks"
                class="mx-auto">
            <p>
                Hello from Obvious, the team behind Pause! When we graduated from ‘founding team only’ to ‘can’t count
                all our colleagues on one hand’, we realised that our spreadsheet hacks for tracking time off were no
                longer cutting it.
            </p>
            <p>
                We needed a system that was easy to use and encouraged our colleagues to take breaks from work, instead
                of tracking their presence. We couldn't find one that fit our needs perfectly, and so we built Pause to
                scratch our own itch. A bunch of small businesses and remote teams making similar culture shifts tried
                out Pause, too — and they loved it.
            </p>
            <p>
                Cut to today, Pause is now used at 300 organisations, helping thousands of people look after their
                wellbeing and creativity through time off. And we hope you'll join us, too!
            </p>
        </div>

        <hr class="max-w-2xl mx-auto w-full text-gray-200">

        <div class="max-w-2xl mx-auto space-y-4">
            <h2 class="font-bold text-3xl font-concourse-t6">What's the best way to build a powerful product?</h2>
            <p>
                <strong>Solve a problem 'x' you know intimately.</strong> As a team, we’re avid software users. But when
                it came to leave management software, we noticed cracks that went beyond the typical cold and predatory
                approaches of HR software:
            </p>
        </div>

        <div>
            <img
                src="/assets/images/about/02.webp"
                alt="Image showing leave requests and tracking sprawled across different software"
                class="rounded-lg">
        </div>

        <div class="max-w-2xl mx-auto space-y-4">
            <img
                src="/assets/images/about/03.webp"
                alt="Four consequences of not having a streamlined leave-management solution"
                class="w-full">
        </div>

        <div class="space-y-4">
            <h1 class="text-center text-primary-400 text-5xl font-bold font-concourse-t6">
                Hundreds of teams use Pause to…
            </h1>
        </div>

        <div class="max-w-3xl mx-auto w-full flex flex-col justify-start items-center gap-y-16 pb-32">
            <div class="w-full flex justify-center items-center gap-x-8">
                <img
                    src="/assets/images/about/04.webp"
                    alt="Showing how Pause can be used by a team to plan ahead"
                    class="w-0 flex-grow min-h-fit h-full">
                <div class="w-0 flex-grow min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                    <h3 class="font-bold text-4xl text-start font-concourse-t6">
                        Enable teams to plan ahead, together
                    </h3>
                    <p class="text-xl font-concourse-t3">
                        Pause shifts the pressure of planning from individuals and teams onto strong time-off management
                        systems.
                    </p>
                    <a
                        href="/blog/recognition-at-work-can-prevent-burnout"
                        class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 font-concourse-c6 lowercase">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="w-full flex justify-center items-center gap-x-8">
                <div class="w-0 flex-grow min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                    <h3 class="font-bold text-4xl text-start font-concourse-t6">
                        Prevent burnout by encouraging time off
                    </h3>
                    <p class="text-xl font-concourse-t3">
                        Typical workplace culture characterises breaks as “lazy” and burnout as “a rite of passage”. But
                        we know too well that burnout can destroy teams.
                    </p>
                    <a
                            href="/blog/how-regular-time-off-can-prevent-burnout"
                            class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 font-concourse-c6 lowercase">
                        Learn more
                    </a>
                </div>
                <img
                        src="/assets/images/about/05.webp"
                        alt="Showing how Pause prevents burnout by encouraging time-off"
                        class="w-0 flex-grow min-h-fit h-full">
            </div>
            <div class="w-full flex justify-center items-center gap-x-8">
                <img
                        src="/assets/images/about/06.webp"
                        alt="Showing how Pause empowers employees through transparency"
                        class="w-0 flex-grow min-h-fit h-full">
                <div class="w-0 flex-grow min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                    <h3 class="font-bold text-4xl text-start font-concourse-t6">
                        Empower employees through transparency
                    </h3>
                    <p class="text-xl font-concourse-t3">
                        The least powerful actor—the employee—is the most penalised by unclear and complicated systems.
                        Pause is transparent by default.
                    </p>
                    <a
                            href="/blog/pause-vacation-tracker-slack"
                            class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 font-concourse-c6 lowercase">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full bg-primary-200 py-36 flex flex-col">
        <p class="mx-auto text-center text-5xl font-concourse-t6">
            All this, right within budget!
        </p>
        <p class="mx-auto text-center mt-24 text-9xl font-concourse-t6">
            $1
        </p>
        <p class="mx-auto text-center mt-4 text-2xl font-concourse-t6">
            Per user. Per month.
        </p>
        <a
            href="https://app.getpause.com"
            class="mx-auto mt-12 text-white bg-primary-500 hover:bg-primary-700 rounded-lg md:text-sm lg:text-lg px-4 py-3 transition-colors font-concourse-c6 uppercase">
            30 day free trial
        </a>
    </div>
</div>

{% include 'footer.liquid' %}
</body>
</html>
