---
permalink: /cancellation-and-refund.html
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pause Cancellation Policy — Leave Management Software</title>
    <meta name="description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta name="keywords" content="leave management software,absence management,absence management software,leave tracker,vacation tracker,absence planner,hybrid work,remote work,HR software for startups,remote work tools">

    <link rel="icon" href="/assets/images/pause-logo.png"/>
    <link rel="stylesheet" href="/assets/css/main.out.css"/>

    <!-- Open Graph/Facebook -->
    <meta property="og:title" content="Pause Cancellation Policy — Leave Management Software">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta property="og:image" content="/assets/images/pause-social-card.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pause Cancellation Policy — Leave Management Software">
    <meta name="twitter:description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta name="twitter:image" content="/assets/images/pause-social-card.png">
</head>
<body class="min-h-screen flex flex-col justify-start">
{% include 'header.liquid' %}

<div class="px-8 max-w-2xl mx-auto py-32 text-primary-dark flex-grow">
    <h1 class="text-center text-5xl font-bold font-concourse-t6">Cancellation and Refunds</h1>

    <div class="pt-12 flex flex-col justify-start items-stretch space-y-8 text-justify text-xl font-concourse-t3">
        <div class="space-y-4">
            <p>Welcome to getpause!</p>
            <p>
                Below is the cancellation and refund policy for the use of Pause's software, located at <a
                        href="https://www.getpause.com/" class="hover:text-primary">https://www.getpause.com/</a>.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-bold text-3xl font-concourse-t6">Cancellation of Subscription</h2>
            <p>
                To cancel your Pause subscription, please contact our customer support team at <a
                        href="mailto:hello@getpause.com" class="hover:text-primary">hello@getpause.com</a>. Upon
                receiving your cancellation request, we will process it promptly and confirm the effective date of
                termination.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-bold text-3xl font-concourse-t6">Refund Policy</h2>
            <p>
                <strong>Services Rendered:</strong> We do not offer refunds for any subscription fees corresponding to
                months during which services have already been rendered.
            </p>
            <p>
                <strong>Post-Cancellation Billing:</strong> If any invoices are generated after you have submitted a
                cancellation request but before the account is officially closed, we may, at our discretion, issue
                refunds for those charges. Each case will be evaluated individually to determine eligibility.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-bold text-3xl font-concourse-t6">Refund Process</h2>
            <p>
                Approved refunds will be processed within 10 business days from the date of approval. Refunds will be
                issued to the original payment method used during the subscription.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-bold text-3xl font-concourse-t6">Changes to This Policy</h2>
            <p>
                Pause reserves the right to modify this Cancellation and Refund Policy at any time. Any changes will be
                communicated via our website or through direct communication channels.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-bold text-3xl font-concourse-t6">Contact Information</h2>
            <p>
                For questions regarding this policy, please reach out to our support team at <a
                        href="mailto:hello@getpause.com" class="hover:text-primary">hello@getpause.com</a>.
            </p>
        </div>
    </div>
</div>

{% include 'footer.liquid' %}
</body>
</html>
