---
permalink: /index.html
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pause — #1 Leave Management Software for Startups</title>
    <meta name="description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta name="keywords" content="leave management software,absence management,absence management software,leave tracker,vacation tracker,absence planner,hybrid work,remote work,HR software for startups,remote work tools">

    <link rel="icon" href="/assets/images/pause-logo.png"/>
    <link rel="stylesheet" href="/assets/css/main.out.css"/>

    <!-- Open Graph/Facebook -->
    <meta property="og:title" content="Pause — #1 Leave Management Software for Startups">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta property="og:image" content="/assets/images/pause-social-card.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pause — #1 Leave Management Software for Startups">
    <meta name="twitter:description" content="Leave management for startups, small businesses and remote teams. Join over 300 companies in making your team's paid time off management a breeze.">
    <meta name="twitter:image" content="/assets/images/pause-social-card.png">
</head>
<body class="min-h-screen flex flex-col justify-start">
{% include 'header.liquid' %}

<div class="w-full mx-auto mt-26 text-primary-700 flex-grow flex flex-col justify-start items-center">
    <h1 class="mt-24 w-full md:max-w-[68rem] px-8 text-center text-5xl md:text-7xl font-bold font-concourse-t6">
        The simplest leave management software for startups and agencies
    </h1>

    <a
        href="https://app.getpause.com"
        class="mt-12 text-white bg-primary-500 hover:bg-primary-700 rounded-lg md:text-sm lg:text-lg px-4 py-3 transition-colors font-concourse-c6 uppercase">
        30 day free trial
    </a>

    <div class="mt-24 w-full md:max-w-[68rem] px-4 md:px-0 aspect-video">
        <iframe
            class="w-full aspect-video rounded-2xl"
            src="https://www.youtube.com/embed/dJr0upskhbM?iv_load_policy=3&rel=0&modestbranding=1&playsinline=1&autoplay=1&mute=1"
            title="Pause introduction video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; presentation; fullscreen;"
            referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>

    <div class="mt-32 w-full py-24 bg-primary-200">
        <h3 class="text-primary-400 text-center text-lg md:text-xl font-concourse-c6 uppercase">
            Trusted by over 300 companies
        </h3>
        <div class="flex overflow-hidden mt-12 mask-x-from-90%">
            <ul class="flex gap-x-10 animate-infinite-scroll">
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/frolic.png" alt="Company logo - Frolic" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/postman.png" alt="Company logo - Postman" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/slice.png" alt="Company logo - Slice" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/ken.png" alt="Company logo - The Ken" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/netbramha.png" alt="Company logo - NetBramha" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/bijak.png" alt="Company logo - Bijak" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/fyle.png" alt="Company logo - Fyle" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/surfer.png" alt="Company logo - Surfer" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/verloop.png" alt="Company logo - Verloop" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/arrow.png" alt="Company logo - Arrow" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/quizizz.png" alt="Company logo - Quizizz" class="object-contain">
                </li>

                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/frolic.png" alt="Company logo - Frolic" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/postman.png" alt="Company logo - Postman" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/slice.png" alt="Company logo - Slice" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/ken.png" alt="Company logo - The Ken" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/netbramha.png" alt="Company logo - NetBramha" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/bijak.png" alt="Company logo - Bijak" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/fyle.png" alt="Company logo - Fyle" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/surfer.png" alt="Company logo - Surfer" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/verloop.png" alt="Company logo - Verloop" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/arrow.png" alt="Company logo - Arrow" class="object-contain">
                </li>
                <li class="flex w-[254px] justify-center items-center">
                    <img src="/assets/images/index/company/quizizz.png" alt="Company logo - Quizizz" class="object-contain">
                </li>
            </ul>
        </div>
    </div>

    <div class="mt-40 md:max-w-4xl w-full flex flex-col justify-start items-center gap-y-20 md:gap-y-80">
        <div class="w-full flex flex-col md:flex-row justify-center items-center gap-y-4 md:gap-y-0 gap-x-0 md:gap-x-16">
            <img
                src="/assets/images/index/features/01.png"
                alt="Showing how Pause can be used by a team to plan ahead"
                class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">

            <div class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                <h3 class="text-4xl md:text-5xl text-start font-concourse-t6">
                    Manage time off right within Slack
                </h3>
                <p class="text-xl md:text-2xl font-concourse-t3">
                    Manage leave balances, requests, and leave summaries on Slack's mobile and desktop apps.
                </p>
                <a
                    href="/features#slack"
                    class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 text-2xl font-concourse-c6 lowercase">
                    See how it works
                </a>
            </div>
        </div>

        <div class="w-full flex flex-col md:flex-row justify-center items-center gap-y-4 md:gap-y-0 gap-x-0 md:gap-x-16">
            <img
                src="/assets/images/index/features/02.png"
                alt="Showing how you can apply leave from either browser or from mobile"
                class="block md:hidden w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">

            <div class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                <h3 class="text-4xl md:text-5xl text-start font-concourse-t6">
                    Apply for leave anytime, anywhere
                </h3>
                <p class="text-xl md:text-2xl font-concourse-t3">
                    Book leave from work or apply for comp-off whenever you need to on mobile or on browser.
                </p>
                <a
                    href="/features#apply"
                    class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 text-2xl font-concourse-c6 lowercase">
                    See how it works
                </a>
            </div>

            <img
                src="/assets/images/index/features/02.png"
                alt="Showing how you can apply leave from either browser or from mobile"
                class="hidden md:block w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">
        </div>

        <div class="w-full flex flex-col md:flex-row justify-center items-center gap-y-4 md:gap-y-0 gap-x-0 md:gap-x-16">
            <img
                src="/assets/images/index/features/03.png"
                alt="Showing how managers are notified of leave requests"
                class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">

            <div class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                <h3 class="text-4xl md:text-5xl text-start font-concourse-t6">
                    Respond to leave requests instantly
                </h3>
                <p class="text-xl md:text-2xl font-concourse-t3">
                    Get notified about team leave requests and respond to them on mobile, email or web app.
                </p>
                <a
                    href="/features#approve"
                    class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 text-2xl font-concourse-c6 lowercase">
                    See how it works
                </a>
            </div>
        </div>

        <div class="w-full flex flex-col md:flex-row justify-center items-center gap-y-4 md:gap-y-0 gap-x-0 md:gap-x-16">
            <img
                src="/assets/images/index/features/04.png"
                alt="Showing how meeting requests can automatically cancel conflicting meetings"
                class="block md:hidden w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">

            <div class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                <h3 class="text-4xl md:text-5xl text-start font-concourse-t6">
                    Keep everyone in the loop, always
                </h3>
                <p class="text-xl md:text-2xl font-concourse-t3">
                    Automatically decline meetings, update leave information on Google Calendar, and more.
                </p>
                <a
                    href="/features#teams"
                    class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 text-2xl font-concourse-c6 lowercase">
                    See how it works
                </a>
            </div>

            <img
                src="/assets/images/index/features/04.png"
                alt="Showing how meeting requests can automatically cancel conflicting meetings"
                class="hidden md:block w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">
        </div>

        <div class="w-full flex flex-col md:flex-row justify-center items-center gap-y-4 md:gap-y-0 gap-x-0 md:gap-x-16">
            <img
                src="/assets/images/index/features/05.png"
                alt="Showing two different leave-types in a company's leave policy"
                class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">

            <div class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                <h3 class="text-4xl md:text-5xl text-start font-concourse-t6">
                    Customise your company policies
                </h3>
                <p class="text-xl md:text-2xl font-concourse-t3">
                    Set up custom PTO and FTO types and public holidays for teams anywhere in the world.
                </p>
                <a
                    href="/features#custom"
                    class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 text-2xl font-concourse-c6 lowercase">
                    See how it works
                </a>
            </div>
        </div>

        <div class="w-full flex flex-col md:flex-row justify-center items-center gap-y-4 md:gap-y-0 gap-x-0 md:gap-x-16">
            <img
                src="/assets/images/index/features/06.png"
                alt="Showing how people in the organisation can be organised into different teams"
                class="block md:hidden w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">

            <div class="w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full flex flex-col justify-start items-start gap-y-4">
                <h3 class="text-4xl md:text-5xl text-start font-concourse-t6">
                    Replicate your team's structure
                </h3>
                <p class="text-xl md:text-2xl font-concourse-t3">
                    Add people to the right teams, assign multiple approvers, and customise working days.
                </p>
                <a
                    href="/features#organ"
                    class="w-full rounded-lg border border-primary-500 px-4 py-2 bg-white hover:bg-primary-400/10 text-center text-primary-500 text-2xl font-concourse-c6 lowercase">
                    See how it works
                </a>
            </div>

            <img
                src="/assets/images/index/features/06.png"
                alt="Showing how people in the organisation can be organised into different teams"
                class="hidden md:block w-full md:w-0 grow-0 md:grow px-8 md:px-0 min-h-fit h-full max-h-[415px]">
        </div>
    </div>

    <div class="mt-40 w-full py-24 bg-primary-200">
        <h3 class="text-primary-400 text-center text-lg md:text-xl font-concourse-c6 uppercase">
            A highly-rated leave management software
        </h3>
        <div class="flex flex-col md:flex-row justify-center items-center mt-12 gap-y-16 md:gap-x-16">
            <a href="https://www.g2.com/products/pause/reviews">
                <img
                    src="/assets/images/index/rating/g2-high-satisfaction.png"
                    alt="G2 Top 100 Highest Satisfaction Products - Best Software Awards 2023"
                    class="w-[129px]">
            </a>
            <a href="https://www.producthunt.com/products/pause-2">
                <img
                    src="/assets/images/index/rating/product-hunt.svg"
                    alt="Product Hunt - #3 Product of the Day"
                    class="w-[258px]">
            </a>
            <a href="https://www.capterra.com/p/227622/Pause/">
                <img
                    src="/assets/images/index/rating/capterra.jpeg"
                    alt="Capterra - 4.7 Stars"
                    class="w-[198px]">
            </a>
            <a href="https://www.g2.com/products/pause/reviews">
                <img
                    src="/assets/images/index/rating/g2-high-performer.png"
                    alt="G2 High Performer Small Business - Spring 2023"
                    class="w-[134px]">
            </a>
        </div>
    </div>

    <div class="w-full py-32">
        <h2 class="text-primary-400 text-center text-4xl md:text-6xl font-concourse-t6">
            Fresh from the blog
        </h2>
        <div class="mt-16 px-8 lg:px-32 flex flex-col lg:flex-row justify-center items-center gap-y-16 lg:gap-x-16">
            <div class="w-full max-w-lg lg:min-w-64 lg:max-w-md lg:flex-grow p-4 rounded-xl hover:bg-primary-400/20">
                <a href="/blog/how-to-handle-leave-conflicts" class="flex flex-col justify-center items-center">
                    <img src="/assets/images/index/blog/01.png" alt="Hero image of the blog post">
                    <p class="mt-4 w-full text-2xl font-concourse-t3">
                        How to handle leave conflicts: A guide for managers
                    </p>
                </a>
            </div>

            <div class="w-full max-w-lg lg:min-w-64 lg:max-w-md lg:flex-grow p-4 rounded-xl hover:bg-primary-400/20">
                <a href="/blog/leave-management-trends" class="flex flex-col justify-center items-center">
                    <img src="/assets/images/index/blog/02.png" alt="Hero image of the blog post">
                    <p class="mt-4 w-full text-2xl font-concourse-t3">
                        Innovations and trends in leave management you need to know about
                    </p>
                </a>
            </div>

            <div class="w-full max-w-lg lg:min-w-64 lg:max-w-md lg:flex-grow p-4 rounded-xl hover:bg-primary-400/20">
                <a
                    href="/blog/supporting-employee-work-life-balance-through-leave-policies"
                    class="flex flex-col justify-center items-center">
                    <img src="/assets/images/index/blog/03.png" alt="Hero image of the blog post">
                    <p class="mt-4 w-full text-2xl font-concourse-t3">
                        Supporting employee work-life balance through leave policies
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="w-full bg-primary-200 py-36 flex flex-col">
        <p class="max-w-5xl mx-auto text-center text-6xl font-concourse-t6">
            Leave management software that's easy to use and affordable.
        </p>
        <p class="mx-auto text-center mt-24 text-9xl font-concourse-t6">
            $1
        </p>
        <p class="mx-auto text-center mt-4 text-2xl font-concourse-t6">
            Per user. Per month.
        </p>
        <a
            href="https://app.getpause.com"
            class="mx-auto mt-12 text-white bg-primary-500 hover:bg-primary-700 rounded-lg md:text-sm lg:text-lg px-4 py-3 transition-colors font-concourse-c6 uppercase">
            30 day free trial
        </a>
    </div>
</div>

{% include 'footer.liquid' %}
</body>
</html>
