<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pause Marketing Website</title>
  
  <link rel="stylesheet" href="assets/css/main.out.css" />
</head>
<body>
  {% include 'header.liquid' %}
  
  <!-- Main content padding to account for fixed header -->
  <div class="pt-20">
    <!-- Main content goes here -->
    
  </div>

  {% include 'footer.liquid' %}
</body>

</html>
