<footer class="bg-primary-dark text-white">
    <div class="container mx-auto px-6">
        <div class="py-12 flex flex-col md:flex-row justify-start md:justify-center items-start space-y-12 md:space-x-32">
            <!-- Company column -->
            <div class="space-y-4">
                <h3 class="text-xl font-medium mb-4">Company</h3>
                <ul class="space-y-2">
                    <li><a href="/about" class="hover:opacity-50 transition-opacity">About</a></li>
                    <li><a href="/privacy-policy" class="hover:opacity-50 transition-opacity">Privacy</a></li>
                    <li><a href="/terms-and-conditions" class="hover:opacity-50 transition-opacity">Terms & Conditions</a></li>
                    <li><a href="/cancellation-and-refund" class="hover:opacity-50 transition-opacity">Cancellation & Refunds</a></li>
                </ul>
            </div>

            <!-- Product column -->
            <div class="space-y-4">
                <h3 class="text-xl font-medium mb-4">Product</h3>
                <ul class="space-y-2">
                    <li><a href="/features" class="hover:opacity-50 transition-opacity">Features</a></li>
                    <li><a href="/pricing" class="hover:opacity-50 transition-opacity">Pricing</a></li>
                    <li><a href="/blog" class="hover:opacity-50 transition-opacity">Blog</a></li>
                    <li><a href="https://support.getpause.com/en/" class="hover:opacity-50 transition-opacity">Help Centre</a></li>
                </ul>
            </div>

            <!-- Compare column -->
            <div class="space-y-4">
                <h3 class="text-xl font-medium mb-4">Compare</h3>
                <ul class="space-y-2">
                    <li><a href="/timetastic-alternative-pause" class="hover:opacity-50 transition-opacity">Timetastic</a></li>
                    <li><a href="/vacation-Tracker-alternative-pause" class="hover:opacity-50 transition-opacity">Vacation Tracker</a></li>
                    <li><a href="/zoho-people-alternative-pause" class="hover:opacity-50 transition-opacity">Zoho People</a></li>
                    <li><a href="/greytHR-alternative-pause" class="hover:opacity-50 transition-opacity">GreytHR</a></li>
                </ul>
            </div>

            <!-- Socials column -->
            <div class="space-y-4">
                <h3 class="text-xl font-medium mb-4">Socials</h3>
                <ul class="space-y-2">
                    <li><a href="https://twitter.com/get_pause" class="hover:opacity-50 transition-opacity">Twitter</a></li>
                    <li><a href="https://in.linkedin.com/company/get-pause" class="hover:opacity-50 transition-opacity">LinkedIn</a></li>
                </ul>
            </div>
        </div>

        <div class="border-t border-t-white/20 p-8 text-center text-sm text-white/50">
            <p>© 2025 Obvious Ventures Pvt. Ltd.</p>
        </div>
    </div>
</footer>
